*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imAge{
    text-align: center;
    padding-top: 100px;
}

header{
    height: 100vh;
    background: linear-gradient(rgb(218, 199, 199), rgb(74, 149, 199), rgba(107, 220, 220, 0.827));
    background-repeat: no-repeat;
}