:root {
    --white: #ffffff;
    --black: #000000;
    --green: rgba(54, 188, 157, 0.756);
    --font-size: 16px;
}
#register{
    background: var(--white);
    
}
.register-timing>div{
    padding: 30px;
    display: inline-block;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: rgb(249, 243, 234);
    margin: 0 10px;
}